<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Airline Reservation System</title>
    <link rel="stylesheet" href="style/airline.css">
    <!--script src="https://cdn.jsdelivr.net/npm/vue"></script-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/air.json.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script>
      var $ = jQuery = require('jquery');
      require('jquery-ui-dist/jquery-ui');
      $( function() {
        $( ".datepicker" ).datepicker();
        $( ".datepicker" ).datepicker( "option", "dateFormat", "yy-mm-dd");
      } );
    </script>

  </head>
  <body>
<pre> all <script>document.write(JSON.stringify(process.versions).replace(new RegExp(",", 'g'), ",\n"))</script></pre>

<div id="air">
    <h1>Airline Reservation System</h1>

<div> <a href="search.htm">quick search</a> <a href="booking.htm">book ticket</a> <a href="cancel.htm">cancel ticket</a><br> </div>

<h3>User Login</h3>

<form id="UserLogin">
  Frequent Flier ID: <input type="text" name="pass_ff" id="pass_ff" v-model="pass.ff"><br>
  Password: <input type="password" name="pass_pwd" maxlength="8"><br>
  <input type="submit">
  <b>JSON:</b> <span id="ff_json">{{to_json()}}</span><br>
  <b>SQL:</b> <span id="ff_sql"></span><br>
</form>

<h3 @click="toggle(pass)">Passenger Information</h3>
<form id="pass_form" v-show="pass.form_vis" @submit.prevent="handlePassSubmit">
  Title:<select name="pass_salutation" id="pass_salutation" v-model="pass.salutation">
          <option value="Mr.">Mr.</option>
          <option value="Mrs.">Mrs.</option>
          <option value="Miss">Miss</option>
          </select>
  First name: <input type="text" name="pass_firstname" id="pass_firstname" v-model="pass.firstname">
  Last name: <input type="text" name="pass_lastname" id="pass_lastname" v-model="pass.lastname"><br>
  d.o.b.:  <input type="text" class="datepicker" name="pass_dob" id="pass_dob" v-model="pass.dob"><br> 
  ID Type:<select name="pass_govidtype" id="pass_govidtype" v-model="pass.govidtype">
          <option value="adhaarcard">adhaar card</option>
          <option value="pancard">pan card</option>
          <option value="drivinglicense">driving liscence</option>
          <option value="passport">voter id</option>
          </select>
  ID Number: <input type="text" name="pass_govid" id="pass_govid" v-model="pass.govid"><br>  
  Email: <input type="text" name="pass_email" id="pass_email" v-model="pass.email">
  Phone num: <input type="text" name="pass_phone" id="pass_phone" v-model="pass.phone"><br>
  address:
  <textarea rows="4" cols="50" name="pass_address" id="pass_address" v-model="pass.addr"></textarea><br>
  <button type="submit">Submit</button>

  <b>JSON:</b> <span id="pass_json">{{pass2json}}</span><br>
  <b>SQL: </b> <span id="pass_sql">INSERT INTO Passengers (FirstName, LastName) VALUES ('{{pass.firstname}}', '{{pass.lastname}}', '') </span><br>
</form>

<h3 @click="toggle(flt)">Flight Details</h3>
<form id="flt_form" v-show="flt.form_vis">
  Flight No.: <input type="text" name="flt_num" id="flt_num" v-model="flt.num">
  Departure: <input type="text" name="flt_orig" id="flt_orig" v-model="flt.orig">
  <input type="text" name="flt_orig_full" id="flt_orig_full" v-model="flt.orig_full">
  Destination: <input type="text" name="flt_dest" id="flt_dest" v-model="flt.dest">
  <input type="text" name="flt_dest_full" id="flt_dest_full" v-model="flt.dest_full"> <br>
  Date: <input type="text" name="flt_date" class="datepicker" id="flt_date" v-model="flt.date">
  Boarding: <input type="text" name="flt_board" id="flt_board" v-model="flt.board">
  TakeOff: <input type="text" name="flt_takeoff" id="flt_takeoff" v-model="flt.takeoff">
  duration: <input type="text" name="flt_dur" id="flt_dur" v-model="flt.dur">
  Land: <input type="text" name="flt_land" id="flt_land" v-model="flt.land"> <br>
  Gate: <input type="text" name="flt_gate" id="flt_gate" v-model="flt.gate">
  Term: <input type="text" name="flt_term" id="flt_term" v-model="flt.term">
  Base Price: <input type="text" name="flt_price" id="flt_price" v-model="flt.price">
  Aircraft model: <input type="text" name="flt_model" id="flt_model" v-model="flt.model">
#TBD: date board gate terminal
  <b>JSON:</b> <span id="flt_json">{{to_json(flt)}}</span><br>
  <b>SQL:</b> <span id="flt_sql">{{sql_insert(flt)}}</span><br>
</form>

<h3>book flight and buy ticket</h3>
<form id="buyTicket">
  Flight Number: {{flt.num}}<br>
  Seat Number: <input type="text" name="tkt_seat" id="tkt_seat" @blur="fillSeat(tkt.seat)" v-model="tkt.seat"> <br>
  <input type="submit" value="Submit" onsubmit="savejson()">
  <b>JSON:</b> <span id="tkt_json">{{to_json(tkt)}}</span><br>
  <b>SQL:</b> <span id="tkt_sql"></span><br>
</form>

<h3 @click="toggle(seatmap)">seat map {{flt.aircraft}}</h3>
<div id="seatmap_view" v-show="seatmap.form_vis">
    <svg :width="length" :height="width">
        <rect x="0" y="0" :width="length" :height="width"/>
        <template v-for="i in aircraft.rows">
            <template v-for="(jj, j) in aircraft.cols">
                <circle class="empty" :cx="i*aircraft.spacing-10" :cy="width-j*aircraft.spacing-18" r="12" :id="i+jj"/>
                <text :x="i*aircraft.spacing-18" :y="width-j*aircraft.spacing-18+4">{{i}}{{jj}}</text>
            </template>
        </template>
    </svg>
</div>

<h3 @click="toggle(bp)">boarding pass</h3>
<div class="boardingpass" v-show="bp.form_vis">
  <header>
    <svg> <use xlink:href="#indigo"></use> </svg>
    <div> <h4>FF</h4> <h5>{{pass.ff}}</h5> </div>
    <div class="passenger"> <h4>Passenger</h4> <h5>{{pass.salutation}} {{pass.firstname}} {{pass.lastname}}</h5> </div>
    <div> <h4>etkt</h4> <h5>{{tkt.etkt}}</h5> </div>
    <div> <h4>PNR/Booking</h4> <h5>{{pnr}}</h5> </div>
  </header>
  <section class="flt">
    <div>
      <h4>Flight</h4> <h5>{{flt.num}}</h5>
      <h4>Depart on</h4> <h5>{{flt.dt}}</h5>
    </div>
    <div class="city">
      <h2>{{flt.orig}}</h2> <h3>{{flt.orig_full}}</h3>
      <h4>Board</h4> <h5>{{flt.board}}</h5>
      <h4>Depart</h4> <h5>{{flt.takeoff}}</h5>
    </div>
    <div class="city">
      <h2>{{flt.dest}}</h2> <h3>{{flt.dest_full}}</h3>
      <h4>Duration</h4> <h5>{{flt.dur}}</h5>
      <h4>Arrive</h4> <h5>{{flt.land}}</h5>
    </div>
    <div> <h4>Term.</h4> <h5>{{flt.term}}</h5> </div>
    <div> <h4>Gate</h4> <h5>{{flt.gate}}</h5> </div>
    <div> <h4>Model</h4> <h5>{{flt.aircraft}}</h5> </div>
  </section>
  <section class="info">
    <div> <h4>Seat</h4> <h5>{{tkt.seat}}</h5> </div>
    <div> <h4>Bags</h4> <h5>{{tkt.bags}}</h5> </div>
    <div> <h4>Group</h4> <h5>{{tkt.grp}}</h5> </div>
    <div> <h4>seq</h4> <h5>{{tkt.seq}}</h5> </div>
    <div> <h4>Class</h4> <h5>{{tkt.cls}}</h5> </div>
    <div> <h4>Services</h4> <h5>{{tkt.svcs}}</h5> </div>
    <div> <h4>Notes</h4> <h5>{{tkt.notes}}</h5> </div>
  </section>
</div>

<h3 @click="toggle(pm)">Passenger Manifest</h3>
<div class="passengermanifest" v-show="pm.form_vis">
    <p id="passengerManifestL"></p>
<!--    <a href="localhost:3000/requests/1234">router-request</a> -->
</div>

<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">
  <symbol id="indigo" viewBox="0 0 80 17">
<g transform="translate(0,27) scale(0.02,-0.02)"
fill="#000080" stroke="none">
<path d="M1567 740 c-98 -25 -182 -95 -225 -189 -21 -44 -26 -71 -27 -131 0
-132 70 -241 190 -296 71 -33 147 -40 223 -20 146 37 229 137 240 288 l5 68
-157 0 -156 0 0 -40 0 -40 110 0 c104 0 110 -1 110 -20 0 -30 -27 -91 -53
-119 -60 -65 -197 -91 -282 -52 -51 23 -118 98 -133 149 -28 91 -9 180 52 249
49 56 104 82 174 83 60 0 104 -16 167 -61 l45 -33 31 30 30 29 -33 28 c-78 67
-215 101 -311 77z"/>
<path d="M40 420 l0 -320 40 0 40 0 0 320 0 320 -40 0 -40 0 0 -320z"/>
<path d="M970 520 c0 -238 -5 -264 -53 -309 -16 -15 -43 -25 -71 -28 -143 -17
-219 143 -115 243 27 26 37 29 92 29 34 0 75 -4 90 -9 28 -8 28 -8 25 30 -3
36 -6 39 -48 52 -97 29 -208 -11 -255 -92 -31 -54 -34 -149 -6 -211 65 -144
291 -166 378 -36 38 56 43 96 43 329 l0 222 -40 0 -40 0 0 -220z"/>
<path d="M313 529 c-48 -14 -98 -69 -112 -122 -6 -25 -11 -105 -11 -176 l0
-131 39 0 40 0 3 151 3 151 33 29 c38 34 93 39 131 13 41 -29 51 -72 51 -214
l0 -130 35 0 35 0 0 155 c0 171 -5 193 -60 238 -50 43 -119 56 -187 36z"/>
<path d="M2161 530 c-51 -12 -112 -60 -139 -110 -19 -37 -23 -56 -20 -111 7
-124 91 -202 217 -203 90 -1 154 31 195 97 107 174 -48 375 -253 327z m167
-113 c34 -35 37 -42 37 -97 0 -55 -3 -62 -37 -96 -31 -32 -44 -38 -90 -41 -65
-5 -113 18 -140 68 -36 67 -17 148 44 188 27 18 44 21 91 18 51 -3 62 -8 95
-40z"/>
<path d="M1150 315 l0 -215 40 0 40 0 0 215 0 215 -40 0 -40 0 0 -215z"/>
</g>
</symbol>
</svg>
</div>
    <script src="js/air.vue.js"></script>
    <script src="js/air.electron_ipc.js"></script>
    <script> //ipc_register() </script>
  </body>
</html>
